@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0; 
    flex-direction: column;
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    font-family: 'Poppins', sans-serif;
    /* background: var(--main-color); */
    /* color: var(--bg-color); */
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; Ändere hier von center zu flex-start, damit die Container oben ausgerichtet sind */
    min-height: 100vh;
    /* Adding margin to the top of the body to prevent overlap */
    /*margin-top: 70px; Adjust this value based on the height of your header */
}


/* Navigation Bar Styles */
/* Ensuring the header stays at the top */
/* CSS to ensure the header stays at the top */
/* Navbar and Dropdown Styles */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    z-index: 999; /* Ensure other elements do not interfere with the dropdown */
    
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: visible; /* Ensure dropdown is not cut off */
}

.header.sticky {
    background: var(--bg-color);
    /* border-bottom: .1rem solid rgba(0, 0, 0, .2); */
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.bx-menu {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.navbar {
    position: fixed; /* Change from absolute to fixed */
    overflow: visible;
}

.navbar.active {
    left: 0;
    transition-delay: 0s;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.dropbtn {
    font-size: 1.7rem;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}


.dropbtn {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 3.5rem; /* Ensure consistent margin with other navbar items */
}

/* Adjust .dropdown .dropbtn to match other navbar links */
.dropdown .dropbtn {
    font-size: 1.7rem; /* Match the font size of other navbar links */
    font-weight: 500;
    color: var(--text-color);
    background: none; /* Remove the background */
    padding: 0; /* Remove padding for desktop view */
    border-radius: 0; /* Remove the border-radius */
    transition: .3s;
    margin-left: 0; /* Match the margin with other navbar items */
    display: inline; /* Ensure it displays inline */
    transform: none; /* Remove transform for desktop view */
    transition: color 0.3s; /* Ensure color transition */
    width: auto; /* Ensure width adjusts to content */
    text-align: left; /* Align text to the left */
}

.navbar a:hover, .navbar a.active, .dropdown:hover .dropbtn {
    color: var(--main-color);
}

.navbar a, .dropdown .dropbtn {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.dropdown .dropbtn:hover,
.dropdown:hover .dropbtn {
    color: var(--main-color); /* Match hover color */
}

.dropdown .dropbtn:hover, .dropdown:hover .dropbtn {
    color: var(--main-color);
}

.navbar.active .dropdown .dropbtn {
    transform: translateX(0); /* Ensure it slides in like the rest of the links */
    transition-delay: .25s; /* Ensure the same transition delay */
}

/* Adjust .dropdown-content to align with other items */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    transition: max-height 0.3s ease, visibility 0.3s ease;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    left: 0;
    top: 100%; /* Ensure the dropdown appears below the button */
    z-index: 200;

    /* z-index: 1000; Ensure the dropdown is above other elements */
}

.dropdown:hover .dropdown-content {
    display: block;
    max-height: 250px;
    visibility: visible;
    overflow: visible;
    z-index: 100; /* Ensure the dropdown is above other elements */
}

.dropdown-content a {
    color: var(--text-color);
    padding: 1.2rem 1.6rem;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: var(--main-color);
}

#menu-icon {
    display: block;
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1002; /* Add this line */
}

section {
    position: relative;
    z-index: 1;
    padding: 10rem 9% 2rem;
    overflow: visible; /* Ensure dropdown is not cut off */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}



.header .logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

/* .header .navbar {
    display: flex;
    gap: 15px;
} */





.navbar a:hover,
.navbar a.active {
    /* background-color: #444; */
    color: var(--main-color);
}

.header .dropdown {
    position: relative;
    display: inline-block;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #444; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* .header .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .dropdown-content a:hover {
    background-color: #555;
} */

.header .dropdown:hover .dropdown-content {
    display: block;
}

.header .dropbtn {
    color: #fff;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
}

/* .header .dropbtn:hover {
    background-color: #444;
} */

/* Adjusting the rest of your styles as needed */
/* Footer Styles */
.footer {
    /* display: block; */
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    /* unicode-bidi: isolate; */

    /* margin-top: 20px; */
    /* box-sizing: border-box; */
    /* text-align: center; */
    /* flex-shrink: 0; Ensure footer doesn't shrink */
    
    position:relative; /* Stick the footer to the bottom */
    bottom: 0; /* Align the footer to the bottom of the page */
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.footer-text, .footer-iconTop {
    position: relative;
    display: flex;
    align-items: center; /* Center button vertically */
    margin-left: 1rem; /* Add some space between the text and the button */
}


.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

.footer .footer-text {
    /* margin-bottom: 10px; */
    font-size: 1.6rem;
    display: flex;
    align-items: center; /* Center text vertically */
    margin-right: 25px;
}

.footer .footer-iconTop a {
    color: #fff;
    /* font-size: 24px; */
    /* display: inline-block; */
    transition: color 0.3s;
}

/* .footer .footer-iconTop a:hover {
    color: #ff6347;
} */

.animate {
    display: inline-block;
}

.animate.scroll {
    animation: scroll 10s linear infinite;
}

/* Keyframes for animation */
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Ensuring the content is not hidden under the footer */
#content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1; /* Lower than header and navbar */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 100px; */
}

/* Styling the form container */
.form-container {
    flex: 1;
    max-width: 430px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid #ccc;
}

/* Chatbot container */
.chatbot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
    width: 350px;
    height: 430px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1px;
    margin-left: 20px;
    /* grid-column: 2 / 3; */
    /* position: sticky; */
    /* top: 2rem; */
    /* position: fixed; */
    /* bottom: 10px; */
    /* right: 10px; */
}

h1 {
    margin-bottom: 20px;
}

/* Calculator container */
#gui {
    flex: 1;
    width: 430px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    /* grid-column: 1 / 2; */
    /* max-width: 450px; */
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1); */
    /* float: left; */
    /* margin-right: 5%; */
}


#steuerForm label,
#steuerForm select,
#steuerForm input,
#steuerForm button {
    width: 100%;
    /* margin-bottom: 10px; */
}

#steuerForm input,
#steuerForm select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#steuerForm input:focus, #steuerForm select:focus {
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
}

#steuerForm button {
    padding: 10px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: .2rem solid var(--bg-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .1rem;
    z-index: 1;
    cursor: pointer;
    /* transition: .5s; */
    /* transition: background-color 0.3s ease; */
    transition: all 0.4s ease;

    /* border: .1rem solid var(--second-bg-color); */
    /* font-weight: 500; */
    /* width: 38rem; */
}



#steuerForm button:hover {
    /* background-color: #218838; */
    background-color: var(--bg-color);
    /* background-color: var(--accent-color); */
    color: var(--main-color);
    border: .2rem solid var(--main-color);
}


.result-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border: 1px solid #aaaaff;
    font-size: 1.1rem; /* Smaller base font size */
}

.result-box p {
    margin: 0 0 8px 0;
    line-height: 1.4;
}

/* If you want to style specific parts differently */
.result-box .result-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-box .result-value {
    line-height: 2.2;
    font-size: 1.3rem;
    color: var(--bg-color); /* Or any color you prefer */
}

.result-box i {
    font-style: italic;
    color: #555; /* Adjust color as needed */
}

.result-box strong {
    font-weight: bold;
    color: #000; /* Adjust color as needed */
}

.result-box .result-footnote {
    font-size: 0.9rem; /* Even smaller for footnote */
    color: var(--main-color);
    margin-top: 18px;
    /* line-height: .3; */
}




form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    width: 100%;
}

input, select, button {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Runde Ecken für den Button */
}

iframe {
    border-radius: 10px; /* Runde Ecken für das Iframe */
    border: none;
}

button {
    /* background-color: #4CAF50; */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Stil für das Ergebnis-Div */
.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.result div {
    margin-bottom: 10px;
}
.footnote {
    font-size: 10px;
}


form label {
    display: block;
    margin-top: 1px;
    margin:auto ;
    color: var(--bg-color);
    font-size: 1.3rem;
}

form input, form select {
    width: calc(100% - 20px);
    /* margin: 5px 0 15px; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    /* font-size: 16px; */
}

form button:hover {
    background-color: #218838;
}


/* Stil für den Chatbot-Container */
#chatbot {
    /* float: left; */
    /* width: 45%; */
    flex: 1;
    max-width: 350px;
    margin: 20px;
    /* padding: 20px; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

/* Blobby background styles */
.bgImage {
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-0.3.5&s=e20bc3d490c974d9ea190e05c47962f5&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: top;
    -webkit-filter: blur(50px); /* Safari 6.0 - 9.0 */
    filter:blur(50px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.blobCont {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.blob {
    animation: move 15s infinite linear;
}


@keyframes move {
    from {
        transform: rotate(0deg) translate(200px, 0.1px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
    }
}

/* Ensure content is above the background */
.header, section, footer {
    position: relative;
    /* z-index: 1; */
}

/* Media Queries für mobile Ansicht */
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    #content {
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    #gui, .chatbot-container {
        grid-column: 1 / 2;
        width: 100%;
        max-width: 430px;
        margin-bottom: 2rem;
    }
    body {
        flex-direction: column;
        height: auto;
    }

    .form-container, .chatbot-container {
        margin-left: 0;
        max-width: 100%;
    }

    #gui {
        order: 1;
        /* grid-column: 1 / -1; */
        /* grid-row: 1 / 2; */
        max-width: 100%;
        margin: 10px;
    }

    .chatbot-container {
        order: 2;
        /* grid-column: 1 / -1; */
        /* grid-row: 2 / 3; */
        margin-top: 2rem;
    }

    #chatbot {
        /* max-width: 100%; */
        margin: 10px;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 100;
        transition: .25s ease;
        transition-delay: .25s;
        flex-direction: column;
    }
    
    .navbar.active {
        left: 0;
        transition-delay: 0s;
        z-index: 1000; /* Add this line */
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
        transform: translateX(0);
        transition: .25s ease;
        transition-delay: 0s;
        width: 100%;
        text-align: left;
    }


    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a, .dropdown .dropbtn {
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
        transform: translateX(0);
        transition: .25s ease;
        transition-delay: 0s;
        width: 100%;
        text-align: left;
    }

    .navbar.active a, .navbar.active .dropdown .dropbtn {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        width: 100%;
        visibility: visible;
        display: block;
        padding-left: 0;
    }

    .dropdown-content a {
        padding: 1rem 2rem;
    }
}

